{% extends './base.html' %}

{% load static %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}

{% block contenido %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-4 mx-auto ">
            <div class="mb-4 position-relative">
                <img class="position-absolute top-0 start-0"
                     src="{% static 'sispro/img/GRACCS.png' %}"
                     alt=""
                     height="57">
                <img class="position-absolute top-0 start-50 translate-middle-x"
                     src="{% static 'sispro/img/INTA.png' %}"
                     alt=""
                     height="57">
                <img class="position-absolute top-0 end-0"
                     src="{% static 'sispro/img/MEFCCA.png' %}"
                     alt=""
                     height="57">
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <div class="form-signin">
                <form method="post" action="{% url 'login_sispro' %}">
                    
                    <h1 class="h3 mb-3 fw-normal">Sistema de seguimiento de la producción</h1>
                    <h3 class="h5 mb-3 fw-normal">Por favor, ingrese sus credenciales</h3>

                    {% csrf_token %}

                    {% bootstrap_form form %}

                    {% bootstrap_button 'INGRESAR' button_type='submit' button_class='btn-primary' extra_classes='mt-2 w-100' size='lg' %}
                    
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}