{% extends './base.html' %}

{% load django_bootstrap5 %}

{% block header %}
	{% include './sispro_header.html' %}
{% endblock %}

{% block contenido %}

<div class="container-fluid">
	<div class="row my-5">
		<div class="col-3 mx-auto">

			{% bootstrap_button "PROTAGONISTAS" button_type="link" extra_classes="my-4 w-100" size="lg" href=url_protagonistas %}

			{% bootstrap_button "PLANES DE INVERSION" button_type="link" extra_classes="my-4 w-100" size="lg" href=url_planes_inversion %}

			{% bootstrap_button "BONOS" button_type="link" extra_classes="my-4 w-100" size="lg" href=url_bonos %}
			
		</div>
	</div>
</div>

{% endblock %}