<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>SISPRO</title>
    <!-- bootstrap -->
    <link rel="stylesheet"
          href="css/bootstrap-5.0.2/bootstrap.min.css">
    <!-- carousel -->
    <link rel="stylesheet"
          href="css/bootstrap-5.0.2/carousel.css">
    <!-- fontawesome -->
    <link rel="stylesheet"
          href="css/fontawesome-free-5.15.3/css/all.css">
    <!-- custom -->
    <link rel="stylesheet"
          href="css/custom/main.css">
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand text-info"
                   href="index.html">SISPRO</a>
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse"
                        aria-controls="navbarCollapse"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse"
                     id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link"
                               aria-current="page"
                               href="index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="#">Seguimiento</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active"
                               href="protagonist.html"
                               tabindex="-1"
                               aria-disabled="true">Protagonista</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="#"
                               tabindex="-1"
                               aria-disabled="true">Proyectos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="#"
                               tabindex="-1"
                               aria-disabled="true">Programas</a>
                        </li>
                    </ul>
                    <form class="d-flex search-form">
                        <input class="form-control me-2"
                               type="search"
                               placeholder="Buscar"
                               aria-label="Search">
                        <button class="btn btn-outline-success"
                                type="submit">Buscar</button>
                    </form>
                    <a type="button"
                       class="btn btn-outline-primary"
                       href="login.html"><i class="fas fa-user"></i></a>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container"
             id="tabs">
            <ul class="nav nav-tabs"
                id="myTab"
                role="tablist">
                <li class="nav-item"
                    role="presentation">
                    <button class="nav-link active"
                            id="home-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#home"
                            type="button"
                            role="tab"
                            aria-controls="home"
                            aria-selected="true">Protagonistas <i id="add-new-protagonist"
                           data-bs-toggle="modal"
                           data-bs-target="#exampleModal"
                           class="fas fa-plus-circle"></i></button>
                </li>
                <li class="nav-item"
                    role="presentation">
                    <button class="nav-link"
                            id="bonos-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#bonos"
                            type="button"
                            role="tab"
                            aria-controls="bonos"
                            aria-selected="false">Bonos</button>
                </li>
            </ul>

            <!-- Tab container -->
            <div class="tab-content"
                 id="myTabContent">
                <div class="tab-pane fade show active"
                     id="home"
                     role="tabpanel"
                     aria-labelledby="home-tab">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Cedula</th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Fecha Nacimiento</th>
                                <th>Sexo</th>
                                <th>Etnia</th>
                                <th>Comunidad</th>
                                <th>Teléfono</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>601-180993-0003X</td>
                                <td>Alfredo Danilo</td>
                                <td>Prendis Gonzalez</td>
                                <td>18/09/1993</td>
                                <td>Masculino</td>
                                <td>Mestizo</td>
                                <td>Bluefield</td>
                                <td>86428353</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="tab-pane fade"
                     id="bonos"
                     role="tabpanel"
                     aria-labelledby="bonos-tab">

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Codigo</th>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Sector</th>
                                <th>Tipo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>601-180993-0003X</td>
                                <td>Alfredo Danilo</td>
                                <td>Prendis Gonzalez</td>
                                <td>18/09/1993</td>
                                <td>Masculino</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade"
             id="exampleModal"
             tabindex="-1"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"
                            id="exampleModalLabel">Agregar protagonista</h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="formGroupExampleInput">Cedula</label>
                                <input type="text"
                                       class="form-control"
                                       id="formGroupExampleInput"
                                       placeholder="Cedula">
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput2">Nombres</label>
                                <input type="text"
                                       class="form-control"
                                       id="formGroupExampleInput2"
                                       placeholder="Nombre">
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput2">Apellidos</label>
                                <input type="text"
                                       class="form-control"
                                       id="formGroupExampleInput2"
                                       placeholder="Apellidos">
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput2">Fecha Nacimiento</label>
                                <input type="date"
                                       class="form-control"
                                       id="formGroupExampleInput2">
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput2">Sexo</label>
                                <div class="custom-control custom-radio">
                                    <input type="radio"
                                           id="customRadio1"
                                           name="customRadio"
                                           class="custom-control-input">
                                    <label class="custom-control-label"
                                           for="customRadio1">Hombre</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio"
                                           id="customRadio2"
                                           name="customRadio"
                                           class="custom-control-input">
                                    <label class="custom-control-label"
                                           for="customRadio2">Mujer</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput">Etnia</label>
                                <input type="text"
                                       class="form-control"
                                       id="formGroupExampleInput"
                                       placeholder="Etnia">
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput">Comunidad</label>
                                <input type="text"
                                       class="form-control"
                                       id="formGroupExampleInput"
                                       placeholder="Comunidad">
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput">Teléfono</label>
                                <input type="text"
                                       class="form-control"
                                       id="formGroupExampleInput"
                                       placeholder="Teléfono">
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal">Cerrar</button>
                        <button type="button"
                                class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- FOOTER -->
        <footer class="container">
            <p class="float-end"><a href="#"><i class="fas fa-chevron-up"></i></a></p>
            <p>&copy; 2021–2021 SISPRO &middot; <a href="#">Sobre nosotros</a> &middot; <a href="#">Contactenos</a>
            </p>
        </footer>
    </main>

    <script src="js/jquery/jquery-3.4.1.slim.min.js"></script>
    <script src="js/bootstrap-5.0.2/bootstrap.bundle.min.js"></script>
</body>

</html>