{% extends './base.html' %}

{% load django_bootstrap5 %}

{% load bootstrap_icons %}

{% block header %}
	{% include './sispro_header.html' %}
{% endblock %}

{% block contenido %}

<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-6">
			<h3 class="display-3">
				{% if tipo == 'bono' %}
					ENTREGA DE BONO
				{% elif tipo == 'plan' %}
					ENTREGA DE PLAN DE INVERSIÓN
				{% endif %}
			</h3>
			<form action="{{ url }}">
				{% csrf_token %}

				{% bootstrap_form form %}

				{% bootstrap_button "GUARDAR" button_type="submit" %}
			</form>
		</div>
	</div>
</div>

{% endblock %}